Commenting method in CSS is the same for the html*/
/*CSS  Selector*/
/*
	In CSS, you can enter multiple properties inside the selector to change the style of the element
*/
/*
	CSS STYLING SPECIFICITY
	inline styling has the highest priority over internal and external styling
	external styling has the lowest priority over inline and internal styling

	CSS STYLING PRIORITIZATION
	inline>internal>external


	!important - property used in CSS to override the CSS priority rule. it makes the property to which it is attached a priority over any other conflicting style (regardless if it's internal or inline)
		- if conflicting styles are trying to modify the same element with the use of !important, CSS Style priority rule will take effect
*/
/*h1{
	color: red !important;
	background-color: pink;
}
*/


/*
	* - universal selector; it is used to target all elements inside the html tag
	font-family - changes the style of the font
		Courier New - is the font that is to be used by the webpage to display the texts
		monospace - the family from which the browser will try to search for a font once the Courier New is not available
	font-size - changes the font size
		20px - value in which the size of the text will be 20 pixels in measure
*/

*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector*/
/*id selector - this is commonly used to provide unique styling for an element*/
/*#idName*/
/*
	letter-space - used to change the spaces in between the characters of the text
*/

#zuitt-motto {
	letter-spacing: 5px;
}

/*
	CSS Specifity
	in terms of the selectors, id has the highest priority over other selectors and universal selector has the lowest

*/
/*h3{
	letter-spacing: 25px;
}
*/
/*
	use class selector to style li in the index.html and make it its text uppercase use text-transform property

	send the output to google chat
*/

.offering-item {
	text-transform: uppercase;
}

/*
	attribute selector
	will only work if the element has the exact attribute that is specified in the selector. CASE SENSITIVE
	SYNTAXL:;
	tag[attribute]
	*/

input[required]{
	border-width: 2px;
	border-style: solid;
	border-color: navy;
}

/*combination selectors*/
/*these are selectors require two selectors but the target is the latter/second selector*/

/*ADJACENT SIBLING SELECTOR - that is used to target the selector that is next to the first selector.
	SYNTAX: firstSelector + secondSelector
*/

/*height - change the height of the element
	width - changes the width of the element
	radius  - changes the corners of the img element from a sharp to rounded corner*/

h3 + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*in combination selectors, the we are not restricted to use uniform/one tag for both. The firstSelector can be a class/id/tag while secondSelector can be of different selector*/

/*#zuitt-motto + img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*DESCENDANT SELECTOR*/
/*hexadecimal value of the color property - can be used to specify the target shade for the color that the dev/client wants to use*/
/*descendant selector - used to select elements(secondSelector) that are inside other elements(firstSelector)
	SYNTAX: firstSelector secondSelector
*/

#bootcamp-learning-list li {
	color: #075966;
}

/*GENERAL SIBLING SELECTOR*/
/*this is used to target the preceding siblings (secondSelector) of the first selector*/

h2 ~ a{
	text-decoration: none;
}

/*CHILD SELECTOR*/
/*can be used to select the child of the firstSelector, ori in this case the child of the selector that comes before it.
	SYNTAX: firstSelector>secondSelector
*/


body>section>form>label{
	/*color also accepts rgb as its value. This value refers to red, green and blue. The numbers inside the parenthesis would range from 0 to 225*/
	color: rgb(0, 0, 128);
}

body{
	background-color: skyblue;
}

html{
	scroll-behavior: smooth;
}

/*NAVIGATION*/

nav{
	background-color: white;
}

/* pseudo element/selector */
/* this a: hover will change the element style once the cursor is hovered over it */
a:hover{
	background-color: #b3d6de;
}

div{
	display: inline-block;
}

/*LANDING SECTION*/
section{
	/*vh - viewport height; the browser will be using 100% of the screen display*/
	height: 100vh;
	text-align: center;
}

h2{
	/*rem - root element measurement. It multiplies the value attached to it to the root element(html)
	default value would be 16px */
	font-size: 1.5rem;
}

ol{
	/*list-style-type - changes the bullet/ordering style of the elements*/
	list-style-type: none;
}

/*REGISTER SECTION*/
/* position - property that changes the position of element based on a certain criteria.

	left/right/top/bottom - used along the position property to add a certain measurement to the left of the element.

	directions (L, R, T, B) -  it is recommended to use only 2 of the directions; vertical (top and bottom) or horizontal (left and right) per selection

	% as the value would be based on the parent element
 */
form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 250px;
	/* vw - viewport width and is similar to vh*/
	width: 25vw;
	position: relative;
	left: 37.25%;
}

button{
	background-color: #cf0053;
	color: white;
	border: 0;
	border-radius: 15px;
}