*{
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
}

#paragraph3{
	color: yellow;
}

h1{
	font-size: 35px;
	font-weight: bold;
}

#h2-learning{
	text-transform: uppercase;
}

.language{
	background-color: seagreen;
}

/*.tools-used{
	border: 1px solid black;
}
*/
li[style]{
	border: 1px solid blue;
}

img + ol{
	list-style-type: none;
}

body img{
	height: 80px;
	width: 80px;
	border-radius: 40px;
}

ol ~ p{
	text-align: center;
}

section>ol>li{
	letter-spacing: 5px;
}